.clima-container{
    margin: 0 auto;
    margin-top: 5rem;
    max-width: 70%;
    background-color: white;
    padding: 3rem;
    border-radius: 2.5rem;

    h1{
        text-align: center;
        font-family: $generalFont;
        font-size: 2.5rem;
    }
}

.clima{
    h3{
        font-family: $generalFont;
        font-size: 2rem;
    }

    h4{
        font-family: $generalFont;
        font-size: 1.8rem;
    }
}