.header{
    background-color: $BlueDark;
    max-width: 80rem;
    margin: 5rem auto;
    padding: 3rem;
    border-radius: 3.5rem;
}


.header-h{
    text-align: center;
    font-family: $generalFont;
    font-size: 8rem;
    color: white;
}
