html{
    font-size: 62.5%;
    background-image: url('./img/weather-bg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

h1, h2, h3, h4{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-family: Arial, Helvetica, sans-serif;

}

img{
    width: 100%;
}

#root{
    margin: 0rem 0rem;
    max-width: 100%;  
}

button{
    background-color: $Purlple;
    border: none;
    padding: 1rem 2rem;
    color: white;
    font-family: $generalFont;
    font-weight: 700;
    border-radius: 2rem;
    cursor: pointer;
}

.error{
    text-align: center;
    font-size: 2rem;
    color: white;
    padding: 1.5rem;
    background-color: red;
    max-width: 70%;
    margin: 0 auto;
    text-transform: uppercase;
}